---
import MainLayout from "../components/layouts/MainLayout.astro";
const name = 'Cinlo';

---

<MainLayout title="Home Page">
    <h1>{name}</h1>
    <p>Momento actual:  {new Date().toLocaleTimeString()}</p>
    <p id="current-time">Momento actual real:</p>

    <footer>
        Año 2023
    </footer>

    <script>
        const currentYear: number = new Date().getFullYear();
        const footer = document.querySelector('footer') as HTMLElement;
        const currentTimeParagraph = document.querySelector('#current-time') as HTMLParagraphElement;

        footer.innerHTML = `Año: ${currentYear}`;

        currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
    </script>
</MainLayout>

