---
import { ViewTransitions } from 'astro:transitions';
import { siteConfig } from '../config/site-config';
import BlogPost from '../components/BlogPost.astro';

interface Props{
    title?: string;
}

const { title }= Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <ViewTransitions />
	</head>
	<body class="bg-gray-900">
		<main class="mb-10 max-w-5xl m-auto px-2 py-2">
            <!-- component -->
            <section class="bg-white dark:bg-gray-900">
                <div class="container px-6 py-10 mx-auto">
                    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">
                        {siteConfig.title}
                    </h1>

                    <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
                        <BlogPost />
                        <BlogPost />
                        <BlogPost />
                        <BlogPost />
                        <BlogPost />
                        <BlogPost />
                    </div>
                </div>
            </section>
        </main>
	</body>
</html>
